<!-- Page Content -->
<div class="dashboard-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <ul class="dash-icons">
          <li>
            <a routerLink="/admin/inventory/products">
              <img src="assets/img/icon/product.png">
              <span>Products</span>
            </a>
          </li>
          <li>
            <a routerLink="/admin/employee/list">
              <img src="assets/img/icon/employee.png">
              <span>Employee</span>
            </a>
          </li>
          <li>
            <a routerLink="/admin/supplier/details/1">
              <img src="assets/img/icon/supplier.png">
              <span>Supplier</span>
            </a>
          </li>
          <li>
            <a routerLink="/admin/sale/sell-to-wholesaler">
              <img src="assets/img/icon/sale.png">
              <span>Sell</span>
            </a>
          </li>
          <li>
            <a routerLink="/admin/report/daily-report">
              <img src="assets/img/icon/reports.png">
              <span>Reports</span>
            </a>
          </li>
          <li>
            <a routerLink="/admin/accounts/list">
              <img src="assets/img/icon/accounts.png">
              <span>Accounting</span>
            </a>
          </li>
          <li>
            <a routerLink="/admin/wholesaler/details/1">
              <img src="assets/img/icon/wholesale.png">
              <span>Wholesale</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
