<div class="container">
  <div class="row clearfix">
    <div class="col-lg-12 uni-head">
      <h4>New Payment</h4>
    </div>
    <div class="col-lg-12">
      <table class="table table-bordered">
        <tbody>
        <tr>
          <td>
            <div class="col-md-auto">
              <label>Beneficial Account</label>
              <select class="form-control custom-select" STYLE="display: inline-block;">
                <option value="0" selected disabled="disabled">--Select Beneficial Account--</option>
                <option *ngFor="let beneficial of beneficialAccount" value="{{beneficial.id}}">{{beneficial.name}}</option>
              </select>
            </div>
          </td>
          <td>
            <label>Amount</label>
            <input type="text" class="form-control">
          </td>
          <td class="text-right"><span class="balance-txt"></span></td>
          <td class="text-right"><span class="balance-txt">$130</span></td>
        </tr>
        <tr>
          <td>
            <div class="col-md-auto">
              <label>Bank/Cash</label>
              <select class="form-control custom-select" STYLE="display: inline-block;">
                <option value="0" selected disabled="disabled">--Select Bank/Cash--</option>
                <option *ngFor="let bank of bankOrCash" value="{{bank.id}}">{{bank.name}}</option>
              </select>
            </div>
            <div class="col col-md-12 text-right">
              <button class="btn btn-success btn-sm btn-ad-new">
                <i class="fa fa-plus-circle"></i>
              </button>
              <button class="btn btn-danger btn-sm btn-ad-new">
                <i class="fa fa-minus-circle"></i>
              </button>
            </div>
          </td>
          <td>
            <label>Amount {{paymentCreateForm.beneficial.amount}}</label>
            <input type="number" name="asd" class="form-control" [(ngModel)]="paymentCreateForm.beneficial.amount" >
          </td>
          <td class="text-right"><span class="balance-txt">$130</span></td>
          <td class="text-right"><span class="balance-txt"></span></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="2" class="text-right">
            <span class="balance-txt">Total</span>
          </td>
          <td class="text-right">
            <span class="balance-txt">$130</span>
          </td>
          <td class="text-right">
            <span class="balance-txt">$260</span>
          </td>
        </tr>
        </tfoot>
      </table>
      <br>
      <div class="form-row">
        <div class="form-group col col-md-3">
          <label>Date</label>
          <input type="text" class="form-control datepick">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-3">
          <label>Remarks</label>
          <textarea class="form-control"></textarea>
        </div>
      </div>

    </div>


    <div class="col-lg-12">
      <hr>
      <button type="submit" class="btn btn-primary">Pay Now</button>
    </div>

  </div>
</div>
