<div class="container">
  <div class="row clearfix">
    <div class="col-lg-12 uni-head">
      <h4>New Employee</h4>
    </div>
    <div class="col-lg-12">
    <form [formGroup]="employeeForm">
    <div class="col-lg-6">
      <div class="form-group">
        <label>Login Email</label>
        <input type="email" formControlName="authCredential.email" class="form-control"  placeholder="">
        <small *ngIf="employeeForm.controls['authCredential.email'].hasError('required')
        && (employeeForm.controls['authCredential.email'].dirty || employeeForm.controls['authCredential.email'].touched)"
               class="form-text text-alert">Email required
        </small>
        <small *ngIf="employeeForm.controls['authCredential.email'].hasError('authCredential.email')" class="form-text text-alert">
          {{ employeeForm.controls['authCredential.email'].getError('authCredential.email') }}
        </small>
      </div>
      <div class="form-group">
        <label>Login Password</label>
        <input type="password"  class="form-control" formControlName="authCredential.password"  placeholder="">
        <small *ngIf="employeeForm.controls['authCredential.password'].hasError('required')
        && (employeeForm.controls['authCredential.password'].dirty || employeeForm.controls['authCredential.password'].touched)"
               class="form-text text-alert">Password required
        </small>
        <small *ngIf="employeeForm.controls['authCredential.password'].hasError('authCredential.password')" class="form-text text-alert">
          {{ employeeForm.controls['authCredential.password'].getError('authCredential.password') }}
        </small>
      </div>
      <div class="form-group">
        <label>Confirm Password</label>
        <input type="password" class="form-control"  placeholder="" formControlName="authCredential.confirmPassword">
        <small *ngIf="employeeForm.controls['authCredential.confirmPassword'].hasError('required')
        && (employeeForm.controls['authCredential.confirmPassword'].dirty || employeeForm.controls['authCredential.confirmPassword'].touched)"
               class="form-text text-alert">Confirm Password required
        </small>
        <small *ngIf="employeeForm.controls['authCredential.confirmPassword'].hasError('authCredential.confirmPassword')" class="form-text text-alert">
          {{ employeeForm.controls['authCredential.confirmPassword'].getError('authCredential.confirmPassword') }}
        </small>
      </div>
      <div class="form-group">
        <label>Role</label>
        <select  class="form-control" formControlName="type">
          <option value="ADMIN">Admin</option>
          <option value="OFFICER">Officer</option>
        </select>
        <small *ngIf="employeeForm.controls['type'].hasError('required')
          && (employeeForm.controls['type'].dirty || employeeForm.controls['type'].touched)"
               class="form-text text-alert">Role required
        </small>
        <small *ngIf="employeeForm.controls['type'].hasError('type')" class="form-text text-alert">
          {{ employeeForm.controls['type'].getError('type') }}
        </small>
      </div>
      <div class="form-group">
        <label>Employee name</label>
        <input type="text" class="form-control" formControlName="personalInfo.fullName" name="name"  placeholder="">
        <small *ngIf="employeeForm.controls['personalInfo.fullName'].hasError('required')
        && (employeeForm.controls['personalInfo.fullName'].dirty || employeeForm.controls['personalInfo.fullName'].touched)"
               class="form-text text-alert">Name required
        </small>
        <small *ngIf="employeeForm.controls['personalInfo.fullName'].hasError('personalInfo.fullName')" class="form-text text-alert">
          {{ employeeForm.controls['personalInfo.fullName'].getError('personalInfo.fullName') }}
        </small>
      </div>
      <div class="form-group">
        <label>Date of Birth</label>
        <input type="text" class="form-control" formControlName="personalInfo.dob" name="dob" id="dob" placeholder="">
        <small *ngIf="employeeForm.controls['personalInfo.dob'].hasError('required')
        && (employeeForm.controls['personalInfo.dob'].dirty || employeeForm.controls['personalInfo.dob'].touched)"
               class="form-text text-alert">Date of birth required
        </small>
        <small *ngIf="employeeForm.controls['personalInfo.dob'].hasError('required')
        && (employeeForm.controls['personalInfo.dob'].dirty || employeeForm.controls['personalInfo.dob'].touched)"
               class="form-text text-alert">{{ employeeForm.controls['personalInfo.dob'].getError('personalInfo.dob') }}
        </small>
      </div>
      <div class="form-group">
        <label>Employee ID</label>
        <input type="text" formControlName="employeeId" class="form-control"  placeholder="" name="id">
        <small *ngIf="employeeForm.controls['employeeId'].hasError('required')
        && (employeeForm.controls['employeeId'].dirty || employeeForm.controls['employeeId'].touched)"
               class="form-text text-alert">Employee ID required
        </small>
        <small *ngIf="employeeForm.controls['employeeId'].hasError('employeeId')" class="form-text text-alert">
          {{ employeeForm.controls['employeeId'].getError('employeeId') }}
        </small>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <label>Contact Email</label>
        <input type="email" formControlName="personalInfo.email" class="form-control"  placeholder="">
        <small *ngIf="employeeForm.controls['personalInfo.email'].hasError('personalInfo.email')" class="form-text text-alert">
          {{ employeeForm.controls['personalInfo.email'].getError('personalInfo.email') }}
        </small>
      </div>
      <div class="form-group">
        <label>Phone Number</label>
        <input type="text" formControlName="personalInfo.phone" class="form-control"  placeholder="">
        <small *ngIf="employeeForm.controls['personalInfo.phone'].hasError('personalInfo.phone')" class="form-text text-alert">
          {{ employeeForm.controls['personalInfo.phone'].getError('personalInfo.phone') }}
        </small>
      </div>
      <div class="form-group">
        <label>Address</label>
        <textarea formControlName="personalInfo.address" name="address" class="form-control"></textarea>
        <small *ngIf="employeeForm.controls['personalInfo.address'].hasError('personalInfo.address')"
               class="form-text text-alert">
          {{ employeeForm.controls['personalInfo.address'].getError('personalInfo.address') }}
        </small>
      </div>
      <div class="form-group">
        <label>Salary</label>
        <input type="number" formControlName="salary" class="form-control" placeholder="" name="salary">
        <small *ngIf="employeeForm.get('salary').hasError('salary')"
               class="form-text text-alert">Salary not valid</small>
      </div>
    </div>
    <div class="col-lg-12">
      <hr>
      <button type="submit" (click)="addEmployee()" class="btn btn-primary">Add Employee</button>
    </div>
    </form>
    </div>
    </div>
  </div>

