<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-bg-cstm fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/admin/dashboard"><img src="./assets/img/pos.png" height="55"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/inventory/products">
            <img src="assets/img/icon/product.png" width="30">
            Products
          </a>
          <ul class="sub-list">
            <li><a routerLink="/admin/inventory/products">All products</a></li>
            <li><a routerLink="/admin/inventory/products/add">New Product</a></li>
            <li><a routerLink="/admin/inventory/products/purchase">Purchase New Product</a></li>
            <li><a routerLink="/admin/purchase/shipments/list">All Shipments</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/employee/list">
            <img src="assets/img/icon/employee.png" width="30">
            Employee
          </a>
          <ul class="sub-list">
            <li><a routerLink="/admin/employee/list">Employee List</a></li>
            <li><a routerLink="/admin/employee/add">Add Employee</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/supplier/details/1">
            <img src="assets/img/icon/supplier.png" width="30">
            Supplier
          </a>
          <ul class="sub-list">
            <li><a routerLink="/admin/supplier/add">Add Supplier</a></li>
            <li><a routerLink="/admin/supplier/list">Supplier List</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/sale/sell-to-wholesaler">
            <img src="assets/img/icon/sale.png" width="30">
            Sell
          </a>
          <ul class="sub-list">
            <li><a routerLink="/admin/sale/wholesale">Wholesale</a></li>
            <li><a routerLink="/admin/sale/consumer">Consumer Sale</a></li>
            <li><a routerLink="/admin/sale/get-all/list">Sale List</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/report/daily-report">
            <img src="assets/img/icon/reports.png" width="30">
            Reports
          </a>
          <ul class="sub-list">
            <li><a routerLink="/admin/report/daily-report">Daily report</a></li>
            <li><a routerLink="/admin/report/data-table">Datable</a></li>
            <li><a routerLink="/admin/report/general-table">General Table</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/accounts/list">
            <img src="assets/img/icon/accounts.png" width="30">
            Accounts
          </a>
          <ul class="sub-list">
            <!--<li><a routerLink="/admin/accounts/list">Accounts</a></li>-->
            <li><a routerLink="/admin/accounts/ledger-list">Accounts</a></li>
            <li><a routerLink="/admin/accounts/invoice">Invoice</a></li>
            <li><a routerLink="/admin/accounts/add-ledger">New Ledger</a></li>
            <li><a routerLink="/admin/accounts/add-payment">New Payment</a></li>
            <li><a routerLink="/admin/accounts/payment">Payment</a></li>
            <li><a routerLink="/admin/accounts/profit-and-loss">Profit and loss</a></li>
            <li><a routerLink="/admin/accounts/balance-sheet">Balance sheet</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/wholesaler/details/1">
            <img src="assets/img/icon/wholesale.png" width="30">
            Wholesale
          </a>
          <ul class="sub-list">
            <li><a routerLink="/admin/wholesaler/add">Add Wholesaler</a></li>
            <li><a routerLink="/admin/wholesaler/list">Wholesaler List</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/shop">
            <img src="assets/img/icon/user.png" width="30">
            Admin
          </a>
          <ul class="sub-list">
            <li><a routerLink="/admin/shop/get">Company</a></li>
            <li><a style="cursor: pointer;" (click)="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
