<div class="box sign-form">
  <h3 class="form-header">Sign up</h3>
  <form>
    <div class="form-group">
      <label>Email address/Username</label>
      <input type="text" class="form-control"  placeholder="Enter email / Username">
      <small  class="form-text text-alert">Opps! you forgot to fill up the field</small>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control"  placeholder="Password">
      <small  class="form-text text-alert">Something went wrong with your password !</small>
    </div>
    <div class="form-group">
      <label>Confirm password</label>
      <input type="password" class="form-control"  placeholder="Password">
      <small  class="form-text text-alert">Something went wrong with your password !</small>
    </div>
    <hr>
    <a href="company-info.php" data-role="button"  class="btn btn-primary">Sign up</a>
  </form>
</div>
<div class="text-center">
  <a routerLink="/login" class="sign-a">Have an account? sign in.</a>
</div>
