<div class="container-fluid container-wrapper">
  <div class="row clearfix" style="margin: 0px;margin-top: 13px">
    <div class="col-md-8" style="padding: 0px">
      <div class="bg-white">

        <div class="ui-widget">
          <div class="form-group">
            <label>Supplier</label>
            <select  class="form-control" [(ngModel)]="purchaseCreateForm.shipment.supplierId" >
              <option value="0"> Select supplier </option>
              <option *ngFor="let supplier of suppliers" [value]="supplier.id" >
                {{supplier.company.title}}
              </option>
            </select>
          </div>
        </div>
        <div class="ui-widget">
          <!--                        <label for="tags">Tags: </label>-->
          <app-product-auto-complete></app-product-auto-complete>

        </div>

        <div class="dam_filter">

          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Damaged</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">New</label>
          </div>
        </div>
        <div class="products-container-scroll">

          <div>
            <div class="row product-bg">
              <div class="col">
                <p class="product-txt-title" data-toggle="modal" data-target="#product1">Northstar Coverse</p>
                <div class="row clearfix purchase_txt">
                  <div class="col col-lg-4">
                    <label class="small-para text-white" for="exampleFormControlInput1">Amount</label>
                    <input type="text" class="form-control price_tf">
                  </div>
                  <div class="col col-lg-4">
                    <label class="small-para text-white" for="exampleFormControlInput1">Amount</label>
                    <input type="text" class="form-control price_tf" >
                  </div>
                  <div class="col col-lg-3 align-self-end">
                    <form  method='POST' action='#'>
                      <input type='button' value='-' class='qtyminus' field='quantity' />
                      <input type='text' name='quantity' value='0' class='qty' />
                      <input type='button' value='+' class='qtyplus' field='quantity' />
                    </form>
                  </div>
                  <div class="col col-lg-1 align-self-end pr-0">
                    <label class="small-para text-white" for="exampleFormControlInput1">BDT 100</label>
                  </div>
                </div>

              </div>
              <div class="col col-lg-2 text-right">
                <!-- <div class="row"> -->
                <a href=""><i class="fa fa-trash fa-lg" aria-hidden="true" style="color:#fff;padding-left: 3px"></i></a>
                <!--<a href=""><i class="fa fa-plus-circle fa-lg" aria-hidden="true" style="color:#fff;padding-left: 3px"></i></a>-->
                <!-- </div> -->
              </div>
            </div>

            <div class="row product-bg"  *ngFor="let cartDetails of cart.cartDetails; let i = index">
              <div class="col">
                <p class="product-txt-title" (click)="showProductModal(i)" >{{cartDetails.product.name}}</p>
                <div class="row clearfix purchase_txt">
                  <div class="col col-lg-4">
                    <label class="small-para text-white" >Purchase price</label>
                    <input type="number" [(ngModel)]="cartDetails.inventoryForm.purchasePrice" class="form-control price_tf" placeholder="Purchase price" min="0" >
                  </div>
                  <div class="col col-lg-4">
                    <label class="small-para text-white" >Selling price</label>
                    <input type="number" [(ngModel)]="cartDetails.inventoryForm.sellingPrice" class="form-control price_tf" placeholder="Selling price" min="0" >
                  </div>

                  <div class="col col-lg-3 align-self-end">
                    <input type='button' value='-' class='qtyminus' field='quantity' (click)="decreaseQuantity(i)" />
                    <input type='number' [(ngModel)]="cartDetails.inventoryForm.purchaseQuantity" name='quantity' value='0' class='qty' min="0" />
                    <input type='button' value='+' class='qtyplus' field='quantity' (click)="increaseQuantity(i)" />

                  </div>
                  <div class="col col-lg-1 align-self-end pr-0">
                    <label class="small-para text-white" >{{cartDetails.inventoryForm.purchasePrice*cartDetails.inventoryForm.purchaseQuantity}} TK</label>
                  </div>
                </div>

              </div>
              <div class="col col-lg-2 text-right">
                <!-- <div class="row"> -->
                <a href="javascript:void(0)"><i class="fa fa-trash fa-lg" aria-hidden="true" style="color:#fff;padding-left: 3px" (click)="removeProductFromCart(i)"></i></a>
                <!-- </div> -->
              </div>
            </div>

          </div>



        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row" style="min-height: 394px;">
        <div class="col-lg-12">
          <div class="row bg-white clearfix" style="margin: 0px;">

            <div class="col-12">
              <div class="row clearfix">
                <div class="col-5 pl-0">
                  <div class="form-group" *ngFor="let paymentAccount of purchaseCreateForm.productPricePaymentAccount;let i = index" >

                    <label class="small-para" for="exampleFormControlSelect1">Payment</label>
                    <select class="form-control" [(ngModel)]="paymentAccount.ledgerId" >
                      <option value="0" >Select Account</option>
                      <option *ngFor="let ledger of paymentLedger" [value]="ledger.id" >
                        {{ledger.name}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-5 pl-0">
                  <div class="form-group">
                    <label class="small-para" >Amount</label>
                    <input type="email" class="form-control" [(ngModel)]="paymentAccount.amount" >
                  </div>
                </div>
                <div class="col-2 align-self-center">
                  <button type="button" class="btn btn-primary mt-2"><i class="fa fa-plus"></i></button>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row clearfix">
                <div class="col-5 pl-0">
                  <div class="form-group">
                    <label class="small-para" for="exampleFormControlSelect1">Shipping Cost</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                </div>
                <div class="col-5 pl-0">
                  <div class="form-group">
                    <label class="small-para" for="exampleFormControlInput1">Amount</label>
                    <input type="email" class="form-control" id="Amount">
                  </div>
                </div>
                <div class="col-2 align-self-center">
                  <button type="button" class="btn btn-primary mt-2"><i class="fa fa-plus"></i></button>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="row" style="padding-right: 15px !important">
                <label class="small-para">Vat(%) :</label>
                <!-- <p class="medium-para">9A/Nikunja,Dhaka</p> -->
                <input class="form-control custom-input-sm" type="text" >
                <label class="small-para">Recieved Amount :</label>
                <!-- <p class="medium-para">9A/Nikunja,Dhaka</p> -->
                <input class="form-control custom-input-sm" type="text" >


              </div>
            </div>
            <div class="col-6">
              <div class="row">
                <label class="small-para">Discount(%) :</label>
                <!-- <p class="medium-para">+88 01722 ******</p> -->
                <input class="form-control custom-input-sm" type="text" >
                <label class="small-para">Net Total :</label>
                <!-- <p class="medium-para">+88 01722 ******</p> -->
                <input class="form-control custom-input-sm" type="text" id="inputSmall">
              </div>
            </div>

            <div class="col-md-12">
              <div class="row">
                <table class="table">
                  <tr>
                    <td class="small-para px-0">Subtotal:</td>
                    <td class="small-para text-right px-0">10,000tk</td>
                  </tr>
                  <tr>
                    <td class="small-para px-0">Discount:</td>
                    <td class="small-para text-right px-0">440tk</td>
                  </tr>
                  <tr>
                    <td class="small-para px-0">Total:</td>
                    <td class="small-para text-right px-0">9,560</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="button" id="calcBtn" class="btn-default sale-button">Calculator</button>
      <button type="button" class="btn-default sale-button" style="background: #1ba233;">Sell</button>
    </div>

  </div>
</div>
<!--
  Product Details Modal
-->
<div class="modal fade" id="productDetailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span class="modal-title bold-text" id="exampleModalLabel" style="letter-spacing: 0px">Product Details</span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body clearfix">
        <div class="col-md-4">
          <img
            onError="this.src='assets/img/image-not-available-90x60.png'"
            src="{{imgUrl+modalProductDetails.image}}" class="img-fluid">
        </div>
        <div class="col-md-8">
          <p class="small-para" style="font-size: 18px;font-weight: 500;margin-bottom: 0px">Product Name :</p>
          <p style="font-size: 30px;color: #d4318b;margin-top: 0px;">{{modalProductDetails.name}}</p>
          <p class="small-para" style="font-size: 18px;font-weight: 500">Bar Code :</p>
          <p style="    font-size: 30px;color: #d4318b;margin-top: 0px;">{{modalProductDetails.barcode}}</p>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <p class="medium-para-01">Price :</p>
            </div>

            <div *ngIf="modalProductDetails.minPrice!==modalProductDetails.maxPrice" class="col-md-6" style="text-align: right;">
              <p class="medium-para-01">{{modalProductDetails.minPrice}} - {{modalProductDetails.maxPrice}}</p>
            </div>
            <div *ngIf="modalProductDetails.minPrice===modalProductDetails.maxPrice" class="col-md-6" style="text-align: right;">
              <p class="medium-para-01">{{modalProductDetails.maxPrice}} TK</p>
            </div>

            <div class="col-md-12" style="text-align: center;margin-top: 20px">
              <p class="small-para">In Stokes</p>
              <p class="small-para" style="    font-weight: 200;font-size: 95px;margin-top: -30px;color: #d4318b">{{modalProductDetails.totalAvailableQuantity}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="calculator-container">
  <table class="calculator" id="calc">
    <tr>
      <td colspan="4" class="calc_td_result">
        <input type="text" readonly="readonly" name="calc_result" id="calc_result" class="calc_result" onkeydown="javascript:key_detect_calc('calc',event);" />
      </td>
    </tr>
    <tr>
      <td class="calc_td_btn">
        <input type="button" class="calc_btn" value="CE" onclick="javascript:f_calc('calc','ce');" />
      </td>
      <td class="calc_td_btn">
        <input type="button" class="calc_btn" value="&larr;" onclick="javascript:f_calc('calc','nbs');" />
      </td>
      <td class="calc_td_btn">
        <input type="button" class="calc_btn" value="%" onclick="javascript:f_calc('calc','%');" />
      </td>
      <td class="calc_td_btn">
        <input type="button" class="calc_btn" value="+" onclick="javascript:f_calc('calc','+');" />
      </td>
    </tr>
    <tr>
      <td class="calc_td_btn">
        <input type="button" class="calc_btn" value="7" onclick="javascript:add_calc('calc',7);" />
      </td>
      <td class="calc_td_btn">
        <input type="button" class="calc_btn" value="8" onclick="javascript:add_calc('calc',8);" />
      </td>
      <td class="calc_td_btn">
        <input type="button" class="calc_btn" value="9" onclick="javascript:add_calc('calc',9);" />
      </td>
      <td class="calc_td_btn">
        <input type="button" class="calc_btn" value="-" onclick="javascript:f_calc('calc','-');" />
      </td>
    </tr>
    <tr>
      <td class="calc_td_btn">
        <input type="button" class="calc_btn" value="4" onclick="javascript:add_calc('calc',4);" />
      </td>
      <td class="calc_td_btn">
        <input type="button" class="calc_btn" value="5" onclick="javascript:add_calc('calc',5);" />
      </td>
      <td class="calc_td_btn">
        <input type="button" class="calc_btn" value="6" onclick="javascript:add_calc('calc',6);" />
      </td>
      <td class="calc_td_btn">
        <input type="button" class="calc_btn" value="x" onclick="javascript:f_calc('calc','*');" />
      </td>
    </tr>
    <tr>
      <td class="calc_td_btn">
        <input type="button" class="calc_btn" value="1" onclick="javascript:add_calc('calc',1);" />
      </td>
      <td class="calc_td_btn">
        <input type="button" class="calc_btn" value="2" onclick="javascript:add_calc('calc',2);" />
      </td>
      <td class="calc_td_btn">
        <input type="button" class="calc_btn" value="3" onclick="javascript:add_calc('calc',3);" />
      </td>
      <td class="calc_td_btn">
        <input type="button" class="calc_btn" value="&divide;" onclick="javascript:f_calc('calc','');" />
      </td>
    </tr>
    <tr>
      <td class="calc_td_btn">
        <input type="button" class="calc_btn" value="0" onclick="javascript:add_calc('calc',0);" />
      </td>
      <td class="calc_td_btn">
        <input type="button" class="calc_btn" value="&plusmn;" onclick="javascript:f_calc('calc','+-');" />
      </td>
      <td class="calc_td_btn">
        <input type="button" class="calc_btn" value="," onclick="javascript:add_calc('calc','.');" />
      </td>
      <td class="calc_td_btn">
        <input type="button" class="calc_btn" value="=" onclick="javascript:f_calc('calc','=');" />
      </td>
    </tr>
  </table>

  <div class="text-center">
    <button class="btn btn-calc-close btn-danger" id="calcClose"><i class="fa fa-times"></i></button>
  </div>

</div>

<?php include 'layout/footer.php';?>
