<div class="container-fluid container-wrapper">
  <div class="row clearfix" style="margin: 0px;margin-top: 13px">
    <div class="col-md-3">
      <div class="bg-white" style="min-height: 100px;margin-bottom: 15px;">
        <div class="form-group">
          <label>Supplier</label>
          <input  class="form-control autocomplete-box" placeholder="Supplier name">

        </div>
      </div>
      <div class="bg-white wholesale-info-div">
        <h4>Wholesale Information</h4>
        <address>
          1530s, "dutiful or courteous approach," from address (v.) and from French adresse. Sense of "formal speech" is from 1751. Sense of "superscription of a letter" is from 1712 and led to the meaning "place of residence" (1888).
        </address>
        <hr>
        <h5>Status</h5>
        <table class="table">
          <tr>
            <td class="lg-sub-txt">Due:</td>
            <td class="lg-sub-txt text-right"></td>
          </tr>
          <tr>
            <td class="lg-sub-txt">Balance:</td>
            <td class="lg-sub-txt text-right"></td>
          </tr>
        </table>
        <button class="btn-detail-sale">Details</button>
      </div>

    </div>
    <div class="col-md-6" style="padding: 0px">
      <div class="bg-white">
        <div class="ui-widget">
          <!--                        <label for="tags">Tags: </label>-->
          <!--<input id="tags" class="form-control" placeholder="Product name/ Barcode" style="margin-bottom: 15px;">-->
          <app-product-auto-complete></app-product-auto-complete>
        </div>
        <div class="products-container-scroll">

          <div>
            <div class="row product-bg"  *ngFor="let product of cart.products; let i = index">
              <div class="col">
                <p class="product-txt-title" (click)="showProductModal(i)" >{{product.name}}</p>
                <div class="row clearfix purchase_txt">
                  <div class="col col-lg-4">
                    <input type="number" [(ngModel)]="cart.invetoryForms[i].purchasePrice" class="form-control price_tf" placeholder="price" >
                  </div>
                  <div class="col">
                      <input type='hidden' value='{{product.id}}'  />
                      <input type='button' value='-' class='qtyminus' field='quantity' />
                      <input type='number' [(ngModel)]="cart.invetoryForms[i].purchaseQuantity" name='quantity' value='0' class='qty' />
                      <input type='button' value='+' class='qtyplus' field='quantity' />

                  </div>
                  <div class="col col-lg-2 text-right">
                    <label class="product-txt-title">475 TK</label>

                  </div>
                </div>

              </div>
              <div class="col col-lg-2 text-right">
                <!-- <div class="row"> -->
                <a href="javascript:void(0)"><i class="fa fa-trash fa-lg" aria-hidden="true" style="color:#fff;padding-left: 3px" (click)="removeProductFromCart(i)"></i></a>
                <!-- </div> -->
              </div>
            </div>
          </div>



        </div>
        <div class="col-md-12" style="padding: 0px;">
          <table class="table">
            <tr>
              <td class="lg-sub-txt">Subtotal:</td>
              <td class="lg-sub-txt text-right">10,000tk</td>
            </tr>
            <tr>
              <td class="sm-sub-txt">Discount:</td>
              <td class="sm-sub-txt text-right">440tk</td>
            </tr>
            <tr>
              <td class="lg-sub-txt">Total:</td>
              <td class="lg-sub-txt text-right">9,560</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row" style="min-height: 394px;">
        <div class="col-lg-12">
          <div class="row bg-white clearfix" style="margin: 0px;">
            <div class="col-6">
              <div class="row" style="padding-right: 15px !important">
                <label class="small-para">Selling Price</label>
                <!-- <p class="medium-para">9A/Nikunja,Dhaka</p> -->
                <input class="form-control custom-input-sm" type="text" >
                <label class="small-para">Wholsesale selling</label>
                <!-- <p class="medium-para">+88 01722 ******</p> -->
                <input class="form-control custom-input-sm" type="text">
                <label class="small-para">Product Costing</label>
                <!-- <p class="medium-para">9A/Nikunja,Dhaka</p> -->
                <input class="form-control custom-input-sm" type="text" >
                <label class="small-para">C&F Cost</label>
                <!-- <p class="medium-para">+88 01722 ******</p> -->
                <input class="form-control custom-input-sm" type="text" >
                <label class="small-para">Other Cost</label>
                <!-- <p class="medium-para">9A/Nikunja,Dhaka</p> -->
                <input class="form-control custom-input-sm" type="text" >
              </div>
            </div>
            <div class="col-6">
              <div class="row">
                <label class="small-para">Carrying Cost</label>
                <!-- <p class="medium-para">9A/Nikunja,Dhaka</p> -->
                <input class="form-control custom-input-sm" type="text">
                <label class="small-para">Labour Cost</label>
                <!-- <p class="medium-para">+88 01722 ******</p> -->
                <input class="form-control custom-input-sm" type="text">
                <label class="small-para">Discount</label>
                <!-- <p class="medium-para">9A/Nikunja,Dhaka</p> -->
                <input class="form-control custom-input-sm-date" type="text" >
                <label class="small-para">Cash Recipt :</label>
                <!-- <p class="medium-para">+88 01722 ******</p> -->
                <input class="form-control custom-input-sm" type="text">
                <label class="small-para">Date :</label>
                <!-- <p class="medium-para">9A/Nikunja,Dhaka</p> -->
                <input class="form-control custom-input-sm-date datepick">
              </div>
            </div>
            <div class="col-md-12">
              <div class="row">
                <p class="small-para">Remarks</p>
                <!-- <p class="medium-para">+88 01722 ******</p> -->
                <input class="form-control custom-input-sm" type="text" id="inputSmall">
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="button" id="calcBtn" class="btn-default sale-button">Calculator</button>
      <button type="button" class="btn-default sale-button" style="background: #1ba233;">Purchase</button>
    </div>

  </div>
</div>
<div class="modal fade" id="productDetailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span class="modal-title bold-text" id="exampleModalLabel" style="letter-spacing: 0px">Product Details</span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body clearfix">
        <div class="col-md-4">
          <img
            onError="this.src='assets/img/image-not-available-90x60.png'"
            src="{{imgUrl+modalProductDetails.image}}" class="img-fluid">
        </div>
        <div class="col-md-8">
          <p class="small-para" style="font-size: 18px;font-weight: 500;margin-bottom: 0px">Product Name :</p>
          <p style="font-size: 30px;color: #d4318b;margin-top: 0px;">{{modalProductDetails.name}}</p>
          <p class="small-para" style="font-size: 18px;font-weight: 500">Bar Code :</p>
          <p style="    font-size: 30px;color: #d4318b;margin-top: 0px;">{{modalProductDetails.barcode}}</p>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <p class="medium-para-01">Price :</p>
            </div>

            <div *ngIf="modalProductDetails.minPrice!==modalProductDetails.maxPrice" class="col-md-6" style="text-align: right;">
              <p class="medium-para-01">{{modalProductDetails.minPrice}} - {{modalProductDetails.maxPrice}}</p>
            </div>
            <div *ngIf="modalProductDetails.minPrice===modalProductDetails.maxPrice" class="col-md-6" style="text-align: right;">
              <p class="medium-para-01">{{modalProductDetails.maxPrice}} TK</p>
            </div>

            <div class="col-md-12" style="text-align: center;margin-top: 20px">
              <p class="small-para">In Stokes</p>
              <p class="small-para" style="    font-weight: 200;font-size: 95px;margin-top: -30px;color: #d4318b">{{modalProductDetails.totalAvailableQuantity}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="calculator-container">
  <table class="calculator" id="calc">
    <tr>
      <td colspan="4" class="calc_td_result">
        <input type="text" readonly="readonly" name="calc_result" id="calc_result" class="calc_result" onkeydown="javascript:key_detect_calc('calc',event);" />
      </td>
    </tr>
    <tr>
      <td class="calc_td_btn">
        <input type="button" class="calc_btn" value="CE" onclick="javascript:f_calc('calc','ce');" />
      </td>
      <td class="calc_td_btn">
        <input type="button" class="calc_btn" value="&larr;" onclick="javascript:f_calc('calc','nbs');" />
      </td>
      <td class="calc_td_btn">
        <input type="button" class="calc_btn" value="%" onclick="javascript:f_calc('calc','%');" />
      </td>
      <td class="calc_td_btn">
        <input type="button" class="calc_btn" value="+" onclick="javascript:f_calc('calc','+');" />
      </td>
    </tr>
    <tr>
      <td class="calc_td_btn">
        <input type="button" class="calc_btn" value="7" onclick="javascript:add_calc('calc',7);" />
      </td>
      <td class="calc_td_btn">
        <input type="button" class="calc_btn" value="8" onclick="javascript:add_calc('calc',8);" />
      </td>
      <td class="calc_td_btn">
        <input type="button" class="calc_btn" value="9" onclick="javascript:add_calc('calc',9);" />
      </td>
      <td class="calc_td_btn">
        <input type="button" class="calc_btn" value="-" onclick="javascript:f_calc('calc','-');" />
      </td>
    </tr>
    <tr>
      <td class="calc_td_btn">
        <input type="button" class="calc_btn" value="4" onclick="javascript:add_calc('calc',4);" />
      </td>
      <td class="calc_td_btn">
        <input type="button" class="calc_btn" value="5" onclick="javascript:add_calc('calc',5);" />
      </td>
      <td class="calc_td_btn">
        <input type="button" class="calc_btn" value="6" onclick="javascript:add_calc('calc',6);" />
      </td>
      <td class="calc_td_btn">
        <input type="button" class="calc_btn" value="x" onclick="javascript:f_calc('calc','*');" />
      </td>
    </tr>
    <tr>
      <td class="calc_td_btn">
        <input type="button" class="calc_btn" value="1" onclick="javascript:add_calc('calc',1);" />
      </td>
      <td class="calc_td_btn">
        <input type="button" class="calc_btn" value="2" onclick="javascript:add_calc('calc',2);" />
      </td>
      <td class="calc_td_btn">
        <input type="button" class="calc_btn" value="3" onclick="javascript:add_calc('calc',3);" />
      </td>
      <td class="calc_td_btn">
        <input type="button" class="calc_btn" value="&divide;" onclick="javascript:f_calc('calc','');" />
      </td>
    </tr>
    <tr>
      <td class="calc_td_btn">
        <input type="button" class="calc_btn" value="0" onclick="javascript:add_calc('calc',0);" />
      </td>
      <td class="calc_td_btn">
        <input type="button" class="calc_btn" value="&plusmn;" onclick="javascript:f_calc('calc','+-');" />
      </td>
      <td class="calc_td_btn">
        <input type="button" class="calc_btn" value="," onclick="javascript:add_calc('calc','.');" />
      </td>
      <td class="calc_td_btn">
        <input type="button" class="calc_btn" value="=" onclick="javascript:f_calc('calc','=');" />
      </td>
    </tr>
  </table>

  <div class="text-center">
    <button class="btn btn-calc-close btn-danger" id="calcClose"><i class="fa fa-times"></i></button>
  </div>

</div>
