<div class="container">
  <div class="row clearfix">
    <div class="col-lg-12 uni-head">
      <h4>Wholesale Information</h4>
    </div>
    <div class="col col-lg-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Hello Corp -A3568</h5>
          <h6 class="card-subtitle mb-2 text-muted">hello@gmail.com</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col col-lg-8">
      <h5>Transaction History</h5>
      <table class="table">
        <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
