<div class="container">
  <div class="row clearfix">
    <div class="col-lg-12 uni-head">
      <h4>New product</h4>
    </div>
    <div class="col-lg-12">
      <form [formGroup]="productUpdateForm">
        <div class="col-lg-6">
          <div class="form-group">
            <label>Product Name</label>
            <input type="text" class="form-control" placeholder="" formControlName="name" name="producttitle">
            <small *ngIf="productUpdateForm.get('name').hasError('required')
            && (productUpdateForm.get('name').dirty || productUpdateForm.get('name').touched)"
                   class="form-text text-alert">Product name required
            </small>
            <small *ngIf="productUpdateForm.get('name').hasError('name')" class="form-text text-alert">
              {{ productUpdateForm.get('name').getError('name') }}
            </small>
          </div>
          <div class="form-group">
            <label>Category</label>
            <select class="form-control select-cstm" formControlName="categoryId">
              <option value="0" >--Select Category--</option>
              <option *ngFor="let category of categories" value="{{category.id}}"
                      [selected]="category.id === productUpdateForm.get('categoryId').value">{{ category.name }}</option>
            </select>
            <small *ngIf="productUpdateForm.get('categoryId').hasError('categoryId')" class="form-text text-alert">
              {{ productUpdateForm.get('categoryId').getError('categoryId') }}
            </small>
          </div>
          <div class="form-group">
            <label>Image</label>
            <div class="custom-file">
              <img *ngIf="product.image!=null && product.image!=''" src="{{imageUrl}}{{product.image}}" style="max-height: 200px;max-width: 350px;">
              <dropzone #dz [config]="dropzoneConfig" (complete)="onUploadComplete($event,dz)"
                        [message]="'Click or drag images here to upload'" (error)="onUploadError($event)"
                        (success)="onUploadSuccess($event)">
              </dropzone>
              <div id="dropzone-preview"></div>
              <small *ngIf="productUpdateForm.get('imageToken').hasError('imageToken')" class="form-text text-alert">
                {{ productUpdateForm.get('imageToken').getError('imageToken') }}
              </small>
            </div>
          </div>
          <div class="form-group">
            <label>Weight</label>
            <input type="number" class="form-control"  placeholder="" formControlName="weight">
            <small *ngIf="productUpdateForm.get('weight').hasError('weight')" class="form-text text-alert">
              Please provide a valid input
            </small>
          </div>
          <div class="form-group">
            <label>Weight Unit</label>
            <select class="form-control select-cstm" formControlName="weightUnit">
              <option value="KG">KiloGram</option>
              <option value="GM">Gram</option>
            </select>
            <small *ngIf="productUpdateForm.get('weightUnit').hasError('weightUnit')" class="form-text text-alert">
              {{ productUpdateForm.get('weightUnit').getError('weightUnit') }}
            </small>
          </div>
          <div class="form-group">
            <label>Barcode</label>
            <input type="text" class="form-control"  placeholder="" formControlName="barcode" name="barcode">
            <small *ngIf="productUpdateForm.get('barcode').hasError('barcode')" class="form-text text-alert">
              {{ productUpdateForm.get('barcode').getError('barcode') }}
            </small>
          </div>
        </div>
        <div class="col-lg-12">
          <hr>
          <button (click)="updateProduct()" type="button" class="btn btn-primary">Update Product</button>
        </div>
      </form>
    </div>
  </div>
</div>
