<div class="container">
  <div class="row clearfix">
    <div class="col-lg-12">
      <form [formGroup]="wholesalerForm">
        <div class="col-lg-12 uni-head">
          <h4>Update Wholesaler</h4>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label>Wholesaler Name</label>
            <input type="text" class="form-control" formControlName="company.title" placeholder="" name="company">
            <small *ngIf="wholesalerForm.controls['company.title'].hasError('required')
            && (wholesalerForm.controls['company.title'].dirty || wholesalerForm.controls['company.title'].touched)"
                   class="form-text text-alert">Wholesaler name required
            </small>
            <small *ngIf="wholesalerForm.controls['company.title'].hasError('company.title')"
                   class="form-text text-alert"> {{ wholesalerForm.controls['company.title'].getError('company.title') }}
            </small>
          </div>
          <div class="form-group">
            <label>Wholesaler ID</label>
            <input type="text" class="form-control" formControlName="wholesalerId"  placeholder="" name="sid">
            <small *ngIf="wholesalerForm.controls['wholesalerId'].hasError('wholesalerId')"
                   class="form-text text-alert"> {{ wholesalerForm.controls['wholesalerId'].getError('wholesalerId') }}
            </small>
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" formControlName="company.email"  placeholder="" name="email">
            <small *ngIf="wholesalerForm.controls['company.email'].hasError('company.email')"
                   class="form-text text-alert"> {{ wholesalerForm.controls['company.email'].getError('company.email') }}
            </small>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label>Contact</label>
            <input type="text" class="form-control" formControlName="company.phone"  placeholder="" name="phone">
            <small *ngIf="wholesalerForm.controls['company.phone'].hasError('company.phone')"
                   class="form-text text-alert"> {{ wholesalerForm.controls['company.phone'].getError('company.phone') }}
            </small>
          </div>
          <div class="form-group">
            <label>Address</label>
            <textarea class="form-control" formControlName="company.address" name="address"></textarea>
            <small *ngIf="wholesalerForm.controls['company.address'].hasError('company.address')"
                   class="form-text text-alert"> {{ wholesalerForm.controls['company.address'].getError('company.address') }}
            </small>
          </div>
        </div>
        <div class="col-lg-12">
          <hr>
          <button (click)="updateWholesaler()" type="submit" class="btn btn-primary">Update Wholesaler</button>
        </div>
      </form>
    </div>
  </div>
</div>
