<div class="box sign-form">
  <h3 class="form-header">Reset Password</h3>
  <form role="form" [formGroup]="resetPasswordForm">
    <div class="form-group">
      <label>Password</label>
      <input type="password" formControlName="password" class="form-control" id="password" name="password"
             placeholder="Password">
      <div *ngIf="resetPasswordForm.get('password').hasError('required') && (resetPasswordForm.get('password').dirty ||
        resetPasswordForm.get('password').touched)"
           class="alert alert-danger">
        <small  class="form-text text-alert">Password required</small>
      </div>
      <div *ngIf="resetPasswordForm.get('password').hasError('password')"
           class="alert alert-danger">
        <small  class="form-text text-alert">{{ resetPasswordForm.get('password').getError('password') }}</small>
      </div>
    </div>

    <div class="form-group">
      <label>Confirm Password</label>
      <input type="password" formControlName="confirmPassword" class="form-control" id="confirmPassword"
             name="confirmPassword" placeholder="Confirm Password">
      <div *ngIf="resetPasswordForm.get('confirmPassword').hasError('required') && (resetPasswordForm.get('confirmPassword').dirty ||
        resetPasswordForm.get('confirmPassword').touched)"
           class="alert alert-danger">
        <small  class="form-text text-alert">Confirm Password required</small>
      </div>
      <div *ngIf="resetPasswordForm.get('confirmPassword').hasError('confirmPassword')"
           class="alert alert-danger">
        <small  class="form-text text-alert">{{ resetPasswordForm.get('confirmPassword').getError('confirmPassword') }}</small>
      </div>
    </div>

    <div *ngIf="resetPasswordForm.get('token').hasError('token')"
         class="alert alert-danger">
      <small  class="form-text text-alert">{{ resetPasswordForm.get('token').getError('token') }}</small>
    </div>

    <div *ngIf="resetSuccessful">
      <small  class="form-text">Password Reset Successful. Redirecting to Login . . .</small>
    </div>

    <hr>
    <button type="submit" (click)="reset()" data-role="button"
            class="btn btn-primary">Reset Password</button>
  </form>
</div>
<div class="text-center">
  <a routerLink="/login" class="sign-a">Go to Login</a>
</div>
