<div class="container">
  <div class="row clearfix">
    <div class="col-lg-12 uni-head">
      <h4>Invoice</h4>
    </div>
    <div class="col-md-12">
      <div class="row justify-content-between align-items-end invoice-header">
        <div class="col-4 text-left">
          <h5>Invoice ID: 0051</h5>
          <p>Issue Date: 12 July,2018</p>
        </div>
        <div class="col-4">
          <img src="./assets/img/agora.png" class="img-fluid">
        </div>
        <div class="col-4 text-right">
          <h5>Billed to</h5>
          <p>Agora</p>
          <p>
            12/14 Shimanto Square.<br>
            Jigatola,Dhaka-1205
          </p>
        </div>
      </div>
      <div class="row clearfix" style="margin-top: 20px;">
        <table class="table">
          <thead class="thead-dark">
          <tr>
            <th scope="col">Product Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Total Price</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Leavon lotion</td>
            <td>2</td>
            <td>15</td>
            <td class="text-right">28</td>
          </tr>
          <tr>
            <td>Gillette lotion</td>
            <td>2</td>
            <td>15</td>
            <td class="text-right">28</td>
          </tr>
          <tr>
            <td>fair and Lovely</td>
            <td>2</td>
            <td>15</td>
            <td class="text-right">28</td>
          </tr>

          </tbody>
          <tfoot>
          <tr>
            <td colspan="2"></td>
            <td>Sub total:</td>
            <td class="text-right">800</td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td>Total Discount:</td>
            <td class="text-right">200</td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td>Total:</td>
            <td class="text-right">7800</td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
