<!--<pre class="card card-block card-header mb-3">Model: {{selected | json}}</pre>-->

<input [(ngModel)]="asyncProductNameSelected"
         [typeahead]="productNameDataSource"
         (typeaheadLoading)="changeTypeaheadLoading($event)"
         (typeaheadOnSelect)="typeaheadOnSelect($event)"
         [typeaheadOptionsLimit]="7"
         typeaheadOptionField="name"
         class="form-control" placeholder="Product name" style="margin-bottom: 15px;"
>
<input [(ngModel)]="asyncBarcodeSelected"
       [typeahead]="barcodeDataSource"
       (typeaheadLoading)="changeTypeaheadLoading($event)"
       (typeaheadOnSelect)="typeaheadOnSelect($event)"
       [typeaheadOptionsLimit]="7"
       typeaheadOptionField="name"
       class="form-control" placeholder="Barcode" style="margin-bottom: 15px;"
>
